# Игнорируем зависимости (их ставим через composer install)
/vendor
/node_modules

# Игнорируем секреты (САМОЕ ВАЖНОЕ)
.env
.env.backup
.env.production

# Игнорируем системный мусор IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# Игнорируем временные файлы Laravel
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# Игнорируем сборку фронтенда
/public/build
/public/hot
/public/storage

# Игнорируем Docker/Sail специфику
.phpunit.result.cache
.docker/
